.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 4rem 1.5rem;
  border-top: 1px solid var(--gray-400);
  align-self: stretch;

  gap: 1rem;

  color: var(--gray-300);
  font-size: 1rem;
  text-align: center;
}

.empty > p span {
  font-weight: 700;
}